.clearfix:before,
.clearfix:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after {
	content: " ";
	display: table;
}
.clearfix:after,
.navbar:after,
.navbar-header:after {
	clear: both;
}
.pull-right {
	float: right !important;
}
.pull-left {
	float: left !important;
}
.hide {
	display: none !important;
}
.show {
	display: block !important;
}

/* general styles */
a,
button {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
a i.fa, button i.fa {
	margin: 0 5px;
}

p.lead {
	margin-bottom: 40px;
}
section,
div.section {
	margin-bottom: 40px;
}
.no-mb {
	margin-bottom: 0 !important;
}
.mb-small {
	margin-bottom: 20px !important;
}
.heading {
	margin-bottom: 40px;
}
.heading h1,
.heading h2,
.heading h3,
.heading h4,
.heading h5 {
	display: inline-block;
	border-bottom: solid 5px #467fbf;
	line-height: 1.1;
	margin-bottom: 0;
	padding-bottom: 10px;
	vertical-align: middle;
	text-transform: uppercase;
}
.heading h1 i.fa,
.heading h2 i.fa,
.heading h3 i.fa,
.heading h4 i.fa,
.heading h5 i.fa {
	display: inline-block;
	background: #467fbf;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	font-size: 14px;
	line-height: 30px;
	border-radius: 15px;
}

#error-page {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 100px;
}
#error-page h4 {
	margin-bottom: 40px;
}
#error-page p.buttons {
	margin-top: 40px;
}

#copyright .social i {
	font-size: 28px;
}
#copyright .social a {
	color: #999999;
	display: inline-block;
	border-radius: 12px;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
	vertical-align: bottom;
}
#copyright .social a:hover {
	color: #fff;
}
#copyright .social a:hover.facebook {
	background-color: #4460ae;
}
#copyright .social a:hover.twitter {
	background-color: #3cf;
}
#copyright .social a:hover.youtube {
	background-color: #ff0000;
}
#copyright .social a:hover.vk {
	background-color: rgb(74, 118, 168);
}
#top .login {
	float: right;
}
#top .login a {
	font-size: 12px;
	color: #eeeeee;
	margin-right: 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
}
@media (max-width: 767px) {
	#top .login {
		float: left;
	}
}
#top.light {
	background: #fff;
	color: #999999;
	border-bottom: solid 1px #eeeeee;
}
#top.light .login a {
	color: #555555;
}
.navbar {
	border: none;
}
.navbar ul.nav > li > a {
	text-transform: uppercase;
	text-decoration: underline;
	font-weight: bold;
	border-top: solid 5px transparent;
}
.navbar ul.nav > li > a:hover {
	border-top: solid 5px #467fbf;
}
.navbar ul.nav > li.active > a,
.navbar ul.nav > li.open > a {
	text-decoration: none !important;
	border-top: solid 5px #294d76;
}
@media (max-width: 768px) {
	.navbar ul.nav > li.active > a,
	.navbar ul.nav > li.open > a {
		border-top-color: transparent;
	}
	.navbar ul.nav > li > a:hover {
		border-top-color: transparent;
	}
}
.navbar.navbar-light ul.nav > li.active > a {
	border-top: solid 5px #294d76;
	background: #fff !important;
	color: #555555 !important;
}
.navbar.navbar-light ul.nav > li.active > a:hover {
	border-top: solid 5px #294d76;
}
.navbar.navbar-light ul.nav > li > a:hover,
.navbar.navbar-light ul.nav > li.open > a:hover,
.navbar.navbar-light ul.nav > li > a:focus,
.navbar.navbar-light ul.nav > li.open > a:focus {
	border-top: solid 5px #467fbf;
	background: #fff !important;
	color: #555555 !important;
}
.navbar ul.dropdown-menu {
	margin: 0;
	padding: 0;
}
.navbar ul.dropdown-menu li {
	list-style-type: none;
	border-bottom: solid 1px #eeeeee;
	padding: 4px 0;
}
.navbar ul.dropdown-menu li a {
	position: relative;
	color: #999999;
	font-size: 12px;
	display: block;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	left: 0;
}
.navbar ul.dropdown-menu li a:hover {
	color: #467fbf;
	text-decoration: none;
	background: none;
	left: 2px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
@media (max-width: 767px) {
	.navbar ul.dropdown-menu li a:hover {
		left: 0;
	}
}

.navbar .navbar-buttons {
	float: right;
}
.navbar .navbar-buttons button,
.navbar .navbar-buttons a.btn,
.navbar .navbar-buttons .btn-default.navbar-toggle {
	margin-top: 11px;
	margin-bottom: 11px;
	margin-left: 0;
	margin-right: 5px;
}
.navbar .btn-default,
.navbar .btn-default.navbar-toggle {
	color: #999999;
	background-color: #fff;
	margin-left: 7px;
	margin-right: 0;
}
.navbar .btn-default:hover,
.navbar .btn-default.navbar-toggle:hover,
.navbar .btn-default:focus,
.navbar .btn-default.navbar-toggle:focus {
	background-color: #fff;
	border-color: #467fbf;
	color: #467fbf;
}
.navbar #search {
	clear: both;
	border-top: solid 1px #467fbf;
	text-align: right;
}
.navbar #search form {
	float: right;
}
.navbar #search form .input-group {
	width: 500px;
}
@media (max-width: 768px) {
	.navbar #search form .input-group {
		width: 100%;
	}
}
.navbar-affixed-top {
	top: -32px;
}
.navbar-affixed-top.affix-top {
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.navbar-affixed-top.affix {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1000;
	-webkit-box-shadow: 0 0 5px #cccccc;
	box-shadow: 0 0 5px #cccccc;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.input-group .btn {
	font-size: 14px;
}

.btn-template-main {
	color: #467fbf;
	background-color: #ffffff;
	border-color: #467fbf;
}
.btn-template-main:hover,
.btn-template-main:focus,
.btn-template-main:active,
.btn-template-main.active,
.open > .dropdown-toggle.btn-template-main {
	color: #467fbf;
	background-color: #e6e6e6;
	border-color: #336194;
}
.btn-template-main:active,
.btn-template-main.active,
.open > .dropdown-toggle.btn-template-main {
	background-image: none;
}
.btn-template-main.disabled,
.btn-template-main[disabled],
fieldset[disabled] .btn-template-main,
.btn-template-main.disabled:hover,
.btn-template-main[disabled]:hover,
fieldset[disabled] .btn-template-main:hover,
.btn-template-main.disabled:focus,
.btn-template-main[disabled]:focus,
fieldset[disabled] .btn-template-main:focus,
.btn-template-main.disabled:active,
.btn-template-main[disabled]:active,
fieldset[disabled] .btn-template-main:active,
.btn-template-main.disabled.active,
.btn-template-main[disabled].active,
fieldset[disabled] .btn-template-main.active {
	background-color: #ffffff;
	border-color: #467fbf;
}
.btn-template-main:hover,
.btn-template-main:focus,
.btn-template-main:active,
.btn-template-main.active {
	background: #467fbf;
	color: #ffffff;
	border-color: #467fbf;
}

.panel.sidebar-menu h3 {
	padding: 5px 0;
	margin: 0;
}
.panel.sidebar-menu {
	background: #fff;
	margin: 0 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.panel.sidebar-menu .panel-heading {
	text-transform: uppercase;
	margin-bottom: 10px;
	background: none;
	padding: 0;
	border-bottom: none;
}
.panel.sidebar-menu .panel-heading h1,
.panel.sidebar-menu .panel-heading h2,
.panel.sidebar-menu .panel-heading h3,
.panel.sidebar-menu .panel-heading h4,
.panel.sidebar-menu .panel-heading h5 {
	display: inline-block;
	border-bottom: solid 5px #467fbf;
	line-height: 1.1;
	margin-bottom: 0;
	padding-bottom: 10px;
}
.panel.sidebar-menu .panel-heading .btn.btn-danger {
	color: #fff;
	margin-top: 5px;
}
.panel.sidebar-menu .panel-body {
	padding: 0;
}
.panel.sidebar-menu .panel-body span.colour {
	display: inline-block;
	width: 15px;
	height: 15px;
	border: solid 1px #555555;
	vertical-align: top;
	margin-top: 2px;
	margin-left: 5px;
}
.panel.sidebar-menu .panel-body span.colour.white {
	background: #fff;
}
.panel.sidebar-menu .panel-body span.colour.red {
	background: red;
}
.panel.sidebar-menu .panel-body span.colour.green {
	background: green;
}
.panel.sidebar-menu .panel-body span.colour.blue {
	background: blue;
}
.panel.sidebar-menu .panel-body span.colour.yellow {
	background: yellow;
}
.panel.sidebar-menu .panel-body label {
	color: #999999;
	font-size: 12px;
}
.panel.sidebar-menu .panel-body label:hover {
	color: #555555;
}
.panel.sidebar-menu ul.nav.category-menu {
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: 700;
}
.panel.sidebar-menu ul.nav.category-menu li a {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
}
.panel.sidebar-menu ul.nav ul {
	list-style: none;
	padding-left: 0;
}
.panel.sidebar-menu ul.nav ul li {
	display: block;
}
.panel.sidebar-menu ul.nav ul li a {
	position: relative;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	text-transform: none !important;
	display: block;
	padding: 10px 15px;
	padding-left: 30px;
	font-size: 12px;
	color: #999999;
}
.panel.sidebar-menu ul.nav ul li a:hover,
.panel.sidebar-menu ul.nav ul li a:focus {
	text-decoration: none;
	background-color: #eeeeee;
}
.panel.sidebar-menu ul.tag-cloud {
	list-style: none;
	padding-left: 0;
}
.panel.sidebar-menu ul.tag-cloud li {
	display: inline-block;
}
.panel.sidebar-menu ul.tag-cloud li a {
	display: inline-block;
	padding: 5px;
	border: solid 1px #eeeeee;
	border-radius: 0;
	color: #467fbf;
	margin: 5px 5px 5px 0;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
}
.panel.sidebar-menu ul.tag-cloud li a:hover {
	color: #467fbf;
	text-decoration: none;
	border-color: #467fbf;
}

/* universal box */
.box {
	background: #fff;
	margin: 0 0 30px;
	border: solid 1px #ccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px 0;
	border-left: none;
	border-right: none;
}

#heading-breadcrumbs {
	background: url('../img/texture-bw.png') center center repeat;
	padding: 20px 0;
	margin-bottom: 40px;
}
#heading-breadcrumbs h1 {
	color: #333333;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 700;
}
.bar {
	position: relative;
	background: #467fbf;
	padding: 60px 0;
}
.bar.background-white {
	background: #fff;
}

#blog-listing-medium .post {
	margin-bottom: 60px;
}
#blog-listing-medium .post h2 {
	margin: 0 0 10px;
	font-size: 24px;
}
#blog-listing-medium .post h2 a {
	color: #555555;
}
#blog-listing-medium .post h2 a:hover {
	color: #467fbf;
}
#blog-listing-medium .post .author-category {
	float: left;
	color: #999999;
	font-weight: 300;
	font-size: 14px;
}
#blog-listing-medium .post .author-category a {
	font-weight: 500;
}
#blog-listing-medium .post .date-comments {
	float: right;
	font-size: 14px;
}
#blog-listing-medium .post .date-comments a {
	color: #999999;
	margin-right: 20px;
}
#blog-listing-medium .post .date-comments a:hover {
	color: #467fbf;
}
@media (min-width: 768px) {
	#blog-listing-medium .post .date-comments {
		text-align: right;
	}
}
#blog-listing-medium .post .intro {
	text-align: left;
}
#blog-listing-medium .post .clearfix:before,
#blog-listing-medium .post .clearfix:after,
#blog-listing-medium .post .navbar:before,
#blog-listing-medium .post .navbar:after,
#blog-listing-medium .post .navbar-header:before,
#blog-listing-medium .post .navbar-header:after {
	content: " ";
	display: table;
}
#blog-listing-medium .post .clearfix:after,
#blog-listing-medium .post .navbar:after,
#blog-listing-medium .post .navbar-header:after {
	clear: both;
}
#blog-listing-medium .post .clearfix:before,
#blog-listing-medium .post .clearfix:after,
#blog-listing-medium .post .navbar:before,
#blog-listing-medium .post .navbar:after,
#blog-listing-medium .post .navbar-header:before,
#blog-listing-medium .post .navbar-header:after {
	content: " ";
	display: table;
}
#blog-listing-medium .post .clearfix:after,
#blog-listing-medium .post .navbar:after,
#blog-listing-medium .post .navbar-header:after {
	clear: both;
}
#blog-listing-medium .post .image {
	margin-bottom: 10px;
	overflow: hidden;
}
#blog-listing-medium .post .image img {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
@media (max-width: 767px) {
	#blog-listing-medium .post .image img.img-responsive {
		min-width: 100%;
	}
}
#blog-listing-medium .post .video {
	margin-bottom: 10px;
}
#blog-listing-medium .post .read-more {
	text-align: right;
}
#blog-post #post-content {
	margin-bottom: 20px;
}

#copyright {
	background: #333;
	color: #ccc;
	padding: 20px 0;
	line-height: 28px;
}
#copyright p {
	margin: 0;
}
@media (max-width: 991px) {
	#copyright p {
		float: none !important;
		text-align: center;
		margin-bottom: 10px;
	}
}
[data-animate] {
	opacity: 0;
	filter: alpha(opacity=0);
}

/* Original Boostrap template overwrite */
/* breadcrumbs */
.breadcrumb {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	background-color: none;
}
/* nav */
.nav > li > a {
	padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
	background-color: #eeeeee;
}
.nav > li.disabled > a {
	color: #999999;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
	color: #999999;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
	background-color: #eeeeee;
	border-color: #467fbf;
}

.nav-pills > li {
	float: left;
}
.nav-pills > li > a {
	border-radius: 0;
}
.nav-pills > li + li {
	margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
	color: #ffffff;
	background-color: #467fbf;
}
.nav-stacked > li {
	float: none;
}
.nav-stacked > li + li {
	margin-top: 2px;
	margin-left: 0;
}

/* navbar */
.navbar {
	position: relative;
	min-height: 62px;
	margin-bottom: 0;
	border-bottom: 1px solid transparent;
}
@media (min-width: 768px) {
	.navbar {
		border-radius: 0px;
	}
}
@media (min-width: 768px) {
	.navbar-header {
		float: left;
	}
}
.navbar-collapse {
	overflow-x: visible;
	padding-right: 15px;
	padding-left: 15px;
}
.navbar-collapse.in {
	overflow-y: auto;
}
@media (min-width: 768px) {
	.navbar-collapse {
		width: auto;
		border-top: 0;
		box-shadow: none;
	}
	.navbar-collapse.collapse {
		display: block !important;
		height: auto !important;
		padding-bottom: 0;
		overflow: visible !important;
	}
	.navbar-collapse.in {
		overflow-y: visible;
	}
	.navbar-fixed-top .navbar-collapse,
	.navbar-static-top .navbar-collapse,
	.navbar-fixed-bottom .navbar-collapse {
		padding-left: 0;
		padding-right: 0;
	}
}
.navbar-fixed-top .navbar-collapse,
.navbar-affixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
	max-height: 340px;
}
@media (max-width: 480px) and (orientation: landscape) {
	.navbar-fixed-top .navbar-collapse,
	.navbar-affixed-top .navbar-collapse,
	.navbar-fixed-bottom .navbar-collapse {
		max-height: 200px;
	}
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
	margin-right: -15px;
	margin-left: -15px;
}
@media (min-width: 768px) {
	.container > .navbar-header,
	.container-fluid > .navbar-header,
	.container > .navbar-collapse,
	.container-fluid > .navbar-collapse {
		margin-right: 0;
		margin-left: 0;
	}
}
.navbar-static-top {
	z-index: 1000;
	border-width: 0 0 1px;
}
@media (min-width: 768px) {
	.navbar-static-top {
		border-radius: 0;
	}
}
.navbar-fixed-top,
.navbar-fixed-bottom {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
@media (min-width: 768px) {
	.navbar-fixed-top,
	.navbar-fixed-bottom {
		border-radius: 0;
	}
}
.navbar-fixed-top {
	top: 0;
	border-width: 0 0 1px;
}
.navbar-fixed-bottom {
	bottom: 0;
	margin-bottom: 0;
	border-width: 1px 0 0;
}
.navbar-brand {
	float: left;
	padding: 5px 0 0 0;
	font-size: 18px;
	line-height: 20px;
	height: 62px;
}
.navbar-brand:hover,
.navbar-brand:focus {
	text-decoration: none;
}
@media (min-width: 768px) {
	.navbar > .container .navbar-brand,
	.navbar > .container-fluid .navbar-brand {
		margin-left: -15px;
	}
}
.navbar-toggle {
	position: relative;
	float: right;
	margin-right: 15px;
	padding: 9px 10px;
	margin-top: 14px;
	margin-bottom: 14px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 0;
}
.navbar-toggle:focus {
	outline: 0;
}
.navbar-nav {
	margin: 10.5px -15px;
}
.navbar-nav > li > a {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 20px;
}
@media (max-width: 767px) {
	.navbar-nav .open .dropdown-menu > li > a,
	.navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 5px 15px 5px 25px;
	}
	.navbar-nav .open .dropdown-menu > li > a {
		line-height: 20px;
	}
	.navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-nav .open .dropdown-menu > li > a:focus {
		background-image: none;
	}
	.github-fork-ribbon {
		display: none;
	}
}
@media (min-width: 768px) {
	.navbar-nav {
		float: left;
		margin: 0;
	}
	.navbar-nav > li {
		float: left;
	}
	.navbar-nav > li > a {
		padding-top: 21px;
		padding-bottom: 21px;
	}
	.navbar-nav.navbar-right:last-child {
		margin-right: -15px;
	}
}
@media (min-width: 768px) {
	.navbar-left {
		float: left !important;
	}
	.navbar-right {
		float: right !important;
	}
}
.navbar-form {
	margin-left: -15px;
	margin-right: -15px;
	padding: 10px 15px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
	margin-top: 14px;
	margin-bottom: 14px;
}

@media (min-width: 768px) {
	.navbar-form {
		width: auto;
		border: 0;
		margin-left: 0;
		margin-right: 0;
		padding-top: 0;
		padding-bottom: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.navbar-form.navbar-right:last-child {
		margin-right: -15px;
	}
}
.navbar-nav > li > .dropdown-menu {
	margin-top: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.navbar-btn {
	margin-top: 14px;
	margin-bottom: 14px;
}

.navbar-text {
	margin-top: 21px;
	margin-bottom: 21px;
}
@media (min-width: 768px) {
	.navbar-text {
		float: left;
		margin-left: 15px;
		margin-right: 15px;
	}
	.navbar-text.navbar-right:last-child {
		margin-right: 0;
	}
}
.navbar-default {
	background-color: #ffffff;
	border-color: #cccccc;
	border-bottom: none;
}
.navbar-default .navbar-brand {
	color: #555555;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #3b3b3b;
	background-color: transparent;
}
.navbar-default .navbar-text {
	color: #777777;
}
.navbar-default .navbar-nav > li > a {
	color: #555555;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #555555;
	background-color: #92b3d9;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: #467fbf;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
	color: #cccccc;
	background-color: transparent;
}
.navbar-default .navbar-toggle {
	border-color: #dddddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #467fbf;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #888888;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #cccccc;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background-color: #467fbf;
	color: #ffffff;
}
@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #555555;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #467fbf;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ffffff;
		background-color: #467fbf;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
		color: #cccccc;
		background-color: transparent;
	}
}
.navbar-default .navbar-link {
	color: #555555;
}
.navbar-default .navbar-link:hover {
	color: #555555;
}
.navbar-default .btn-link {
	color: #555555;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
	color: #555555;
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
	color: #cccccc;
}
/* scaffolding */
body {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.42857143;
	color: #555555;
}
a {
	color: #467fbf;
	text-decoration: none;
}
a:hover,
a:focus {
	color: #2f5a89;
	text-decoration: underline;
}
a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eeeeee;
}

/* dropdowns */
.dropdown-menu {
	z-index: 1000;
	font-size: 14px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 0;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.dropdown-menu.pull-right {
	right: 0;
	left: auto;
}
.dropdown-menu .divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5;
}
.dropdown-menu > li > a {
	padding: 5px 20px;
	line-height: 1.42857143;
	color: #333333;
	white-space: nowrap;
}

/* pager*/
.pager {
	margin: 20px 0;
	border-top: solid 1px #eeeeee;
	padding-top: 20px;
	text-transform: uppercase;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
}
.pager li {
	display: inline;
}
.pager li > a,
.pager li > span {
	background-color: #ffffff;
	border: 1px solid #467fbf;
	border-radius: 0;
}
.pager li > a:hover,
.pager li > a:focus {
	text-decoration: none;
	color: #fff;
	background-color: #467fbf;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
	color: #999999;
	background-color: #ffffff;
	border-color: #ddd;
}

/* type */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: 900;
	line-height: 1.1;
	color: #333333;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
	margin-top: 20px;
	margin-bottom: 20px;
}
p {
	margin: 0 0 10px;
}
.lead {
	margin-bottom: 20px;
	font-size: 18px;
}
@media (min-width: 768px) {
	.lead {
		font-size: 21px;
	}
}

blockquote {
	padding: 10px 20px;
	margin: 0 0 20px;
	font-size: 14px;
	border-left: 5px solid #467fbf;
}
address {
	margin-bottom: 20px;
	line-height: 1.42857143;
}
.panel {
	margin-bottom: 20px;
	background-color: #ffffff;
	border: 1px solid transparent;
	border-radius: 0;
	-webkit-box-shadow: 0 0 0;
	box-shadow: 0 0 0;
}
.panel-heading {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	text-transform: uppercase;
	padding: 15px 15px;
}

/*!
 * Yamm!3 - Yet another megamenu for Bootstrap 3
 * http://geedmo.github.com/yamm3
 * 
 * @geedmo - Licensed under the MIT license
 */
.yamm .nav,
.yamm .collapse,
.yamm .dropup.use-yamm,
.yamm .dropdown.use-yamm {
	position: static;
}
.yamm .container {
	position: relative;
}
.yamm .dropdown-menu {
	left: auto;
}
.yamm .nav.navbar-right .dropdown-menu {
	left: auto;
	right: 0;
}

/* ReactOS */
#intro {
	font-size: 16px;
}
#intro, #intro h1, #intro h4 {
	color: #eeeeee;
}
#intro h1 {
	margin-top: 0;
}
#intro h4 {
	text-transform: uppercase;
}
#intro ul {
	padding: 0;
	margin: 0 0 0 5px;
}
#intro ul li {
    list-style: none;
}
#intro a {
	color: #cccccc;
}
#intro a:hover {
    color: #fff;
}
#intro .screenshot img {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 10px;
	height: 263px;
	width: 350px;
}
#intro .buttons {
	margin-top: 15px;
}
#intro .buttons a {
	color: white;
	font-size: 24px;
	margin: 5px;
}

#jirafeed {
	list-style: none;
	padding: 0;
}
#jirafeed .time {
	color: #999999;
	font-size: 14px;
	margin-right: 20px;
}
#jirafeed li {
	margin-bottom: 1em;
}
#jirafeed i.fa {
	margin-right: 5px;
}

#copyright .social {
	float: left;
}
#copyright ul.links {
	float: left;
	list-style: none;
	margin: 0;
}
#copyright ul.links a {
	color: #999999;
	font-weight: bold;
	text-transform: uppercase;
}

#copyright ul.links a:hover {
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}

/* inline version of dt-dd */
dl.dl-inline {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0
}
.dl-inline dt {
  float: left;
  width: 30%;
  padding: 0;
  margin: 0
}
.dl-inline dd {
  float: left;
  width: 70%;
  padding: 0;
  margin: 0
}
