<footer class="row" id="copyright">
	<div class="col-md-offset-1 col-md-10">
		<div class="col-md-4">&copy; 1996-{{ now.Year }} ReactOS Team &amp; Contributors</div>

		<div class="col-md-4">
			<ul class="links">
				{{ if .File }}
					<li><a href="https://github.com/reactos/web-content/tree/master/content/{{ .File.Path }}">Improve this page</a></li>
				{{ end }}
			</ul>
		</div>

		<div class="col-md-4 text-right">
			<div class="pull-right">
				<div class="social">
					<a href="https://github.com/reactos" target="_blank"><i class="fa fa-github"></i></a>
					<a class="youtube" href="https://youtube.com/c/ReactOSCommunity" target="_blank"><i class="fa fa-youtube"></i></a>
					<a class="twitter" href="https://twitter.com/reactos" target="_blank"><i class="fa fa-twitter"></i></a>
					<a class="vk" href="https://vk.com/reactos_ru" target="_blank"><i class="fa fa-vk"></i></a>
					<a class="facebook" href="https://facebook.com/ReactOS-19143619259" target="_blank"><i class="fa fa-facebook"></i></a>
				</div>

				<ul class="links">
					<li><a href="/legal">Legal</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
