<footer id="copyright">
	<div class="col-md-offset-1 col-md-10">
		<div class="row">
			<div class="col-sm-4 col-md-4 col-left">&copy; 1996-<script>document.write(new Date().getFullYear())</script> ReactOS Team &amp; Contributors</div>

			<div class="col-sm-3 col-md-4 col-center">
				{{ if and (.File) (ne .Slug "footer") }}
					<a class="footer-link" href="https://github.com/reactos/web-content/tree/master/content/{{ .File.Path }}">Improve this page</a>
				{{ end }}
			</div>

			<div class="col-sm-5 col-md-4 col-right">
				<div class="social">
					<a href="https://github.com/reactos" target="_blank"><i class="fab fa-github"></i></a>
					<a class="youtube" href="https://youtube.com/c/ReactOSCommunity" target="_blank"><i class="fab fa-youtube"></i></a>
					<a class="twitter" href="https://twitter.com/reactos" target="_blank"><i class="fab fa-twitter"></i></a>
					<a class="vk" href="https://vk.com/reactos_ru" target="_blank"><i class="fab fa-vk"></i></a>
					<a class="facebook" href="https://facebook.com/ReactOS-19143619259" target="_blank"><i class="fab fa-facebook-f"></i></a>
					<a class="discord" href="https://discord.gg/7knjvhT" target="_blank"><i class="fab fa-discord"></i></a>
				</div>

				<div style="padding-left: 20px">
					<a class="footer-link" href="/legal">Legal</a>
				</div>
			</div>
		</div>
	</div>
</footer>
