<div class="navbar-affixed-top">
{{ if isset .Site.Params "development_banner_text" }}
	<div style="width:100%; height:30px; background-color:red; color:white; display:block; top:0px;padding-bottom:30px;font-size:18px;">
	    <center>{{ index .Site.Params "development_banner_text" }}</center>
	</div>
{{ end }}
	<div class="navbar navbar-default yamm" role="navigation" id="navbar">
		<div class="col-md-offset-1 col-md-10">
			<div class="navbar-header">
				<a class="navbar-brand home" href="{{ .Site.BaseURL }}">
					<img src="{{ .Site.BaseURL }}{{ .Site.Params.logo }}" alt="{{ .Title }} logo"
						class="hidden-xs hidden-sm">
					<img src="{{ .Site.BaseURL }}{{ .Site.Params.logo_small }}" alt="{{ .Title }} logo"
						class="visible-xs visible-sm">
					<span class="sr-only">{{ .Title }} - {{ i18n "navHome" }}</span>
				</a>
				<div class="navbar-buttons">
					<button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse"
						data-target="#navigation">
						<span class="sr-only">{{ i18n "navToggle" }}</span>
						<i class="fa fa-align-justify"></i>
					</button>
				</div>
			</div>

			<div class="navbar-collapse collapse" id="navigation">
				<ul class="nav navbar-nav navbar-right">
					{{ $current := . }}
					{{ range .Site.Menus.main }}
					{{ $topLevel := replace .URL "/" "" }}

					<li
						class="dropdown{{ if not $current.IsHome }}{{ if or (eq $current.RelPermalink .URL) (eq $current.Type $topLevel) }} active{{ end }}{{ end }}">
						{{ if .HasChildren }}

							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ .Name }}<span class="caret"></span></a>
							<ul class="dropdown-menu">
								{{ range .Children }}
								<li><a href="{{ .URL }}">{{ .Pre }}{{ .Name }}{{ .Post }}</a></li>
								{{ end }}
							</ul>
						{{ else }}
							<a href="{{ .URL }}">{{ .Pre }}{{ .Name }}{{ .Post }}</a>
						{{ end  }}
					</li>
					{{ end }}
					<li>
						<a href="/roslogin/" title="Manage your account"><svg xmlns="http://www.w3.org/2000/svg" width="15px" viewBox="60 25 500 500" height="15px"><!--!Font Awesome Free v7.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path fill="#000000" d="M240 192C240 147.8 275.8 112 320 112C364.2 112 400 147.8 400 192C400 236.2 364.2 272 320 272C275.8 272 240 236.2 240 192zM448 192C448 121.3 390.7 64 320 64C249.3 64 192 121.3 192 192C192 262.7 249.3 320 320 320C390.7 320 448 262.7 448 192zM144 544C144 473.3 201.3 416 272 416L368 416C438.7 416 496 473.3 496 544L496 552C496 565.3 506.7 576 520 576C533.3 576 544 565.3 544 552L544 544C544 446.8 465.2 368 368 368L272 368C174.8 368 96 446.8 96 544L96 552C96 565.3 106.7 576 120 576C133.3 576 144 565.3 144 552L144 544z"></path></svg></a>
					</li>
				</ul>
			</div>

			<div class="collapse clearfix" id="search">
				<form class="navbar-form" role="search">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search">
						<span class="input-group-btn">
							<button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
