<section id="content" class="row bar background-white no-mb">
	<div class="col-md-10 col-md-offset-1">
		<div id="blog-listing-medium" class="col-md-9 row">
			<div class="heading">
				<h3>Recent News</h3>
			</div>

			{{ $posts := .Paginate (where .Site.RegularPages "Type" "in" (slice "project-news" "blogs")) }}
			{{ range first 4 $posts.Pages }}
			<section class="post">
				<div class="row">
					<div class="col-sm-3 hidden-xs">
						<div class="image">
							<a href="{{ .Permalink }}">
								{{ if .Params.banner }}
									<img src="{{ .Site.BaseURL}}{{ .Params.banner }}" class="img-responsive" alt="">
								{{ else }}
									<img src="{{ .Site.BaseURL}}img/placeholder.png" class="img-responsive" alt="">
								{{ end }}
							</a>
						</div>
					</div>
					<div class="col-sm-9">
						<h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
						<div class="clearfix">
							<p class="author-category">
								{{ if isset .Params "author" }}
									{{ i18n "authorBy" }} <a href="{{ .Site.BaseURL }}author/{{ .Params.author | urlize | lower }}">{{ .Params.author }}</a>
								{{ end }}
							</p>
							<p class="date-comments">
								<a href="{{ .Permalink }}"><svg xmlns="http://www.w3.org/2000/svg" width="15px" height="16px" viewBox="150 -50 380 590"><!--!Font Awesome Free v7.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M216 64C229.3 64 240 74.7 240 88L240 128L400 128L400 88C400 74.7 410.7 64 424 64C437.3 64 448 74.7 448 88L448 128L480 128C515.3 128 544 156.7 544 192L544 480C544 515.3 515.3 544 480 544L160 544C124.7 544 96 515.3 96 480L96 192C96 156.7 124.7 128 160 128L192 128L192 88C192 74.7 202.7 64 216 64zM216 176L160 176C151.2 176 144 183.2 144 192L144 240L496 240L496 192C496 183.2 488.8 176 480 176L216 176zM144 288L144 480C144 488.8 151.2 496 160 496L480 496C488.8 496 496 488.8 496 480L496 288L144 288z" fill="000000ff"></path></svg> {{ .Date.Format .Site.Params.date_format }}</a>
							</p>
						</div>
						<p class="intro">{{ .Summary }}</p>
					</div>
				</div>
			</section>

			{{ end }}

			<ul class="pager">
				<li class="next"><a href="/news">Older posts →</a></li>
			</ul>
		</div>

		<div class="col-md-3">
			<div class="heading">
				<h3>Live Activity</h3>
			</div>

			<ul id="jirafeed"></ul>
			
			<a href="https://jira.reactos.org">More...</a>
		</div>
	</div>
</section>
