.copy {
	display: inline-block;
	width: max-content;
	max-width: 100%;
	margin-bottom: 1px;
}

.copy-box {
	display: flex;
	width: 100%;
	white-space: nowrap;
	position: relative;
}

.copy-data {
	display: inline-block;
}

.copy-btn {
	padding: 0 2px;
	line-height: inherit;
	width: 48px;
	border-top-left-radius: unset;
	border-bottom-left-radius: unset;
	position: absolute;
	right: -50px;
}
