<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>

    {{ partial "banner.html" . }}

    <header>

        {{ partial "nav.html" . }}

    </header>

    <div id="container-fluid">

        {{ partial "breadcrumbs.html" . }}

        <div class="row">
            
            <div class="col-md-offset-1 col-md-10">

            {{ if isset .Params "id" }}

                {{ partial .Params.id . }}

            {{ else }}

                {{ .Content }}

            {{ end }}

            </div>
            <!-- /.col-md-12 -->

        </div>
        <!-- /.row -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#container-fluid -->

    {{ partial "scripts.html" . }}

</body>
</html>
