<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	{{ partial "head.html" . }}

	<body>
		<header>
			{{ partial "nav.html" . }}
		</header>

		{{ partial "load-photoswipe.html" . }}

		<div class="container-fluid" id="main-content">
			{{ partial "breadcrumbs.html" . }}

			<section id="content" class="row">
				<div class="col-md-10 col-md-offset-1">
					{{ if isset .Params "id" }}
						{{ partial .Params.id . }}
					{{ else }}
						{{ .Content }}
					{{ end }}
				</div>
			</section>
		</div>

		{{ partial "footer.html" . }}
		{{ partial "scripts.html" . }}
	</body>
</html>
