<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	{{ partial "head.html" . }}

	<body>
		{{ partial "banner.html" . }}

		<header>
			{{ partial "nav.html" . }}
		</header>

		<div class="container-fluid">
			{{ partial "breadcrumbs.html" . }}

			<section id="content" class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row">
						<div class="col-md-9">
							<ul>
								{{ range .Paginator.Pages }}
								<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
								{{ end }}
							</ul>
						</div>
					</div>
				</div>
			</div>

			{{ partial "footer.html" . }}
		</div>

		{{ partial "scripts.html" . }}
	</body>
</html>
