<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>
    {{ partial "banner.html" . }}

    <div id="all">

        <header>

            {{ partial "top.html" . }}

            {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-9" id="blog-post">
                        <div id="post-content">
                          {{ .Content }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ partial "footer.html" . }}
    </div>

    {{ partial "scripts.html" . }}

  </body>
</html>
