
{{ if (eq .Slug "head") }}

<!-- Begin head template -->

{{ partial "shared-head.html" . }}

<!-- End head template -->

{{ else if (eq .Slug "header") }}

<!-- Begin header template -->

<header>
    {{ partial "nav.html" . }}
</header>

<div class="container-fluid" id="main-content">

<!-- End header template -->
</div>

{{ else if (eq .Slug "footer") }}

<!-- Begin footer template -->
    
{{ partial "footer.html" . }}
{{ partial "scripts.html" . }}

<!-- End footer template -->

{{ end }}
