<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	{{ partial "head.html" . }}

	<body>
		<header>
			{{ partial "nav.html" . }}
		</header>

		{{ partial "load-photoswipe.html" . }}

		<div class="container-fluid" id="main-content">
			{{ partial "breadcrumbs.html" . }}

			<section id="content" class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="col-md-9 row" id="blog-post">
						<p class="text-muted mb-small text-right">{{ if .Params.author }}{{ i18n "authorBy" }} <a href="{{ .Site.BaseURL }}author/{{ .Params.author | urlize | lower }}">{{ .Params.author }}</a> | {{ end }}{{ .Date.Format .Site.Params.date_format }}</p>

						<div id="post-content">
							{{ .Content }}
						</div>
					</div>
				</div>
			</section>
		</div>

		{{ partial "footer.html" . }}
		{{ partial "scripts.html" . }}
	</body>
</html>
