<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	{{ partial "head.html" . }}

	<body>
		{{ partial "banner.html" . }}

		<header>
			{{ partial "nav.html" . }}
		</header>

		<div class="container-fluid">
			{{ partial "breadcrumbs.html" . }}

			<section id="content" class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="col-md-9 row" id="blog-post">
						<p class="text-muted mb-small text-right">{{ if .Params.author }}{{ i18n "authorBy" }} <a href="#">{{ .Params.author }}</a> | {{ end }}{{ .Date.Format .Site.Params.date_format }}</p>

						<div id="post-content">
							{{ .Content }}
						</div>
					</div>

					<div class="col-md-3">
						{{ partial "sidebar.html" . }}
					</div>
				</div>
			</section>

			{{ partial "footer.html" . }}
		</div>

		{{ partial "scripts.html" . }}
	</body>
</html>
